body  {
  margin:0;
  background: radial-gradient(circle, rgba(0,0,0,0.6),rgba(0,0,0,0.9)), url("../items/woodentablelarger.jpg");
  background-color: #373737;
  background-position: center center;
  z-index:-1;

}