.sheet {
    display: flex;
    width: 60%;
    height: 100%;
    gap: 10px;
    margin: auto;
    justify-content: space-evenly;
    background: radial-gradient(circle, rgba(255,255,255,0.4),rgba(0,0,0,0.2)), url("../items/parchment1.jpg");
}

.box {
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: wavy;
    height: calc(40px * 1.412);
    background-color: aliceblue;
}